.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__logo {
  max-width: 270px;
  margin-top: 34px;
}

.header__lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
  max-width: 793px;
  width: 100%;
  margin: 90px auto 32px;
  text-align: center;
}
.header__subtitle {
  font-family: "Inter";
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  max-width: 720px;
  color: #fff;
  text-align: center;
}
.header__image {
  max-width: 984px;
  width: 100%;
  margin-top: 64px;
  filter: saturate(0);
}
@media screen and (max-width: 430px) {
  .header__logo {
    max-width: 200px;
    margin-top: 20px;
  }

  .header__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
  .header__image {
    max-width: 320px;
  }
}
@media screen and (max-width: 1200px) {
  .header__title {
    max-width: 720px;
  }
  .header__subtitle {
    max-width: 720px;
  }
  .header__image {
    max-width: 768px;
  }
}
