.intro {
  display: flex;
  flex-direction: column;
  max-width: 1017px;
  margin: auto;
  margin-top: 92px;
}
.intro__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}

.intro__quote {
  font-family: "Inter";
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  max-width: 722px;
  width: 100%;
  color: #fff;
  position: relative;
}
.intro__quote_author {
  font-family: "Inter";
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: #fff;
  position: absolute;
  bottom: -10px;
  right: 0;
}
.intro__paragraph {
  margin: 40px 0 0 0;
  max-width: 720px;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 26.08px;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .intro {
    max-width: 720px;
    margin: 50px auto 0;
  }
  .intro__title {
    margin-bottom: 15px;
  }
  .intro__paragraph {
    margin-top: 42px;
  }
}
@media screen and (max-width: 720px) {
  .intro {
    max-width: 288px;
  }
  .intro__quote_author {
    bottom: -32px;
  }
}
