.photo_grid {
  margin: auto;
  max-width: 1184px;
  margin: 92px auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
}
.photo_grid__item {
  margin: auto;
  max-width: 284px;
  max-height: 213px;
}
@media screen and (max-width: 1200px) {
  .photo_grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 64px auto 88px;
  }
  .photo_grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}
@media screen and (max-width: 400px) {
  .photo_grid {
    margin: auto;
    margin-top: 38px;
    margin-bottom: 62px;
    max-width: 288px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(8, 216px);
    grid-row-gap: 12px;
  }
  .photo_grid__item {
    max-width: 288px;
    max-height: 216px;
  }
}
